.main-menu{
  overflow: hidden;
}
div.menu-header {
  position: relative;
  left:-50px;
  justify-content: flex-start;
  font-size: 15px;
  font-weight: 700;
  box-sizing: border-box;
  padding-top: 12px;
}
.menu-header div{
  width: 140px;
  padding: 18px 0 18px 0;
  text-align:center;
  border-left: 1px solid white;
  color: white;
}
.menu-header div:first-child{
  border: none;
}